body{
    margin: 0;
    font-family: Calibri;
}

.dark-text {
    color: #000000;
  }

.app{
    margin: 0;
    padding: 0;
}

.aboutContainer {
    background-color: rgb(111, 202, 255);
    box-sizing: border-box;
    padding: 5vh;
}

.aboutHeader {
    text-align: center;
    font-size: 2.3rem;
}

.aboutParagraph {
    text-align: center;
    font-size: 1.4rem;
    max-width: 60vw;
    margin: 0 auto;
    line-height: 1.5;
}

.extraAboutParagraph{
    text-align: center;
    font-size: 1.4rem;
    max-width: 60vw;
    margin: 10px auto;
    line-height: 1.5
}

@media (max-width: 1105px) {
    .aboutParagraph {
        text-align: left;
        font-size: 1.4rem;
        max-width: 80vw; /* Set a maximum width for the text to improve readability */
        margin: 0 auto; /* Center the text horizontally */
        line-height: 1.5; /* Set line height for better readability */
    }
    
    .extraAboutParagraph{
        text-align: left;
        font-size: 1.4rem;
        max-width: 80vw;
        margin: 10px auto;
        line-height: 1.5
    }
}