.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 20px;
}

button {
  cursor: pointer;
  border: 1px solid #555;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

.themeButton{
    font-size: 20px;
    border-radius: 10px;
}

.pageLinkContainer {
  display: flex;
  gap: 4vw;
}

.homeLink:hover {
  text-decoration: underline;
}

.aboutLink:hover {
  text-decoration: underline;
}

.projectsLink:hover {
  text-decoration: underline;
}

.contactLink:hover {
  text-decoration: underline;
}

.logo {
  flex: 0;
  font-size: 50px;
  text-align: center;
}
